/* keep Singularity for most processes */
includeConfig "$projectDir/configs/docker.config"
docker.enabled       = false
singularity.enabled  = true
singularity.autoMounts = true
process.shell = ['/bin/bash','-euo','pipefail']

/* enable conda for the align step only */
conda.enabled = true
process {
  withName: 'PLOTSV:ALIGN_PAIRWISE*' {
    container = null
    conda = 'bioconda::minimap2=2.28 bioconda::samtools=1.19'
  }
}

/* optional cache */
env {
  NXF_CONDA_CACHEDIR = "$projectDir/.conda-cache"
  NXF_SINGULARITY_CACHEDIR = "$projectDir/.singularity-cache"
}
