/* keep Singularity for most processes */
includeConfig "$projectDir/configs/docker.config"
docker.enabled         = false
singularity.enabled    = true
singularity.autoMounts = true
process.shell = ['/bin/bash','-euo','pipefail']

/* use mamba (micromamba) for the align step only */
conda.enabled = true
conda.useMamba = true
conda.createOptions = '-c conda-forge -c bioconda'

process {
  withName: 'PLOTSV:ALIGN_PAIRWISE*' {
    container = null
    conda = 'bioconda::minimap2=2.28 bioconda::samtools=1.19'
  }
}
