includeConfig "$projectDir/configs/docker.config"
docker.enabled         = false
singularity.enabled    = true
singularity.autoMounts = true
process.shell = ['/bin/bash','-euo','pipefail']

process {
  withName: 'PLOTSV:ALIGN_PAIRWISE*' {
    container = 'docker://quay.io/<your-org>/minimap2-samtools:latest'  // must contain BOTH tools
  }
}
